@use 'variables';

h1 {
    color: variables.$red-color;
    font-size: 3rem;
    background-color: variables.$green-color;
}

.card-course-item {
    margin-top: 16px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 4px;
    object-fit: cover;
}
