<div class="mt-4">
    <form method="get" action="/news">
        <div class="form-group">
            <label for="form-search">Email address</label>
            <input
                name="email"
                type="email"
                class="form-control"
                id="form-search"
                placeholder="Tìm kiếm"
            />
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>